[user]
    name = Mofe Lee
    email = mofe@me.com
[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]

    editor = vim
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

[commit]

	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]

	# Use the Git 1.x.x default to avoid errors on machines with old Git
	# installations. To use `simple` instead, add this to your `~/.extra` file:
	# `git config --global push.default simple`. See http://git.io/mMah-w.
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
